# top-most EditorConfig file
root = true

# Apply to all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
continuation_indent_size = 8
tab_width = 4

# XML files (e.g. pom.xml)
[*.xml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

# Properties files
[*.properties]
charset = utf-8
indent_style = space
indent_size = 2
